@font-face{
    font-family: Arial Rounded MT Bold;
    font-weight: 800;
    src: url(../../src/assets/font/arial-rounded-mt-bold.ttf);
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 1366px;
  height: 1425px;
  background-color: #ffff;
  box-sizing: border-box;
}
.cabecalho {
  padding-bottom: 5px 5px;
  top: 0px;
  left: 0px;
  right: 0px;
  position: relative;
  width: 100%;
  background-color: #f15836;
  height: 80px;

}
main{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 100%;
}
.logo {
  padding: 16px 0 0 15%;
  margin: 0 26px 14px 0;
}
.cabecalho_info {         
  margin: 16px 0 0 0; 
  outline: none;
  border: none;
  text-decoration: none;
  color: #ffff;
  font: 19px Arial Rounded MT Bold;
  padding: 10px 24px 24px 24px;
}
.alinhamento_contato{
  padding: 16px 0 14px 26%;
}
.cabecalho_contato{
    margin: 16px 0 0 0; 
    outline: none;
    border: none;
    text-decoration: none;
    color: #ffff;
    font: 19px Arial Rounded MT Bold;
    padding: 5px 24px;

    border-style: solid;
    border-width: 2px;
    border-color: #ffff;
}
.cabecalho_contato:hover{
  background-color: #ffff;
  transition: 0.5s;
  color: #f15836;
}
.cabecalho_info:hover{
  position: relative;
  padding: 26px 0 14px 0;
  margin: 0px;
  border-bottom: 4px solid #fff;
}